hidden=[".config"]
modules = ["web", "nodejs-20", "nix", "python-3.11"]

# hosting is currently hardcoded for this language
# [hosting]
# route = "/"
# directory= "/"

[nix]
channel = "stable-25_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.mjs,*.cjs}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[languages.css]
pattern = "**/{*.less,*.scss,*.css}"

[languages.css.languageServer]
start = "vscode-css-language-server --stdio"

[languages.html]
pattern = "**/*.html"

[languages.html.languageServer]
start = "vscode-html-language-server --stdio"
[languages.html.languageServer.initializationOptions]
provideFormatter = true

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "static-server"

[[workflows.workflow]]
name = "static-server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --directory ."
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
