html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
}

body {
    cursor: pointer; 
    background: #eee;
    overflow: hidden; 
    font-family: 'Abhaya Libre', serif;
}

/* Main Content */
.content {
    width: 60%;
    margin: 0 auto;
    z-index: -1;
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(0, -50%); 
}
  
.content h1 {
    font-family: 'Poppins';
    font-size: 54px;
    color: #101010;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
  
.content p {
    margin-top: 0;
    text-align: left;
    color: #101010;
    font-weight: 400;
}
  
.overlay-2 {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #48a9a6;
}
  
.overlay {
    z-index: 1;
    position: fixed; 
    width: 100%;
    height: 100vh;
    background: #E5E4E2;
    opacity: 0.9;
    animation-iteration-count: #101010; 
}
  
.overlay p {
    font-size: 30px; 
    font-weight: 100;
}

.screen {
    color: #36454F; 
    position: absolute; 
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.brand { 
  color: #8A9A5B;
  font-size: 15px !important; 
  margin-top: 250px !important; 
  display: flex;
  justify-content: center; 
  align-items: center;
  animation: showup 10s infinite; 
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

.myBtn {
    font-family: 'Poppins';
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border-color: #899499;
}

button {
    display: block;
    padding: 15px 30px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 6px;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer; 
    transition: 0.8s ease-out;
}

.myBtn:hover {
    color: #101010;
    cursor: pointer; 
}

.myBtn:before {
    content: "";
    position: absolute; 
    background-color: #C0C0C0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
}

.myBtn:hover:before {
    top: 0;  
}

/* Navigation */
.navbar {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     flex-wrap: wrap;
     background-color: #d4d7de;
     width: 100%;
     height: 70px;
     z-index: -1; 
 }

 .nav {
     display: flex;
     justify-content: flex-end; 
     list-style: none;
     margin-right: 15%; 
     overflow: hidden;
 }

 .logo {
     flex: 1 1 auto;
     margin-left: 10%;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-weight: bold;
     font-size: 27px;
 }

 a {
     margin: 15px;
     color: #000;
     text-decoration: none;
     text-transform: uppercase;
 }

 a:hover {
     color: #000;
}

/* Toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  right: 40px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 90px; 
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 90px; 
}

input:checked + .slider {
  background-color: #FFFFFF; 
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; 
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #ccc;
} 

/* Dash Footer */ 
.dashFooterBox {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.dashFooterBoxInner {
  position: relative;
}

.dashFooterBtn {
  position: absolute;
  right: 60px;
  bottom: 0;
  z-index: 9;
}

.dashFooter {
  background-color: #d4d7de; 
  padding: 20px 0px;
  position: absolute;
  bottom: 0;
  z-index: 8;
  width: 100%;
}

.dashFooterBtn label {
  background: #2d2d2d;
  border-top: 1px solid #424242;
  border-left: 1px solid #424242;
  border-right: 1px solid #424242;
  color: #ffffff; 
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px;
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}

.dashFooter {
  opacity: 0; 
  visibility: hidden;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.r-foot-check {
  display: none;
}

input.r-foot-check:checked + .dashFooter {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

ol.footNavUL {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 110px; 
}

ol.footNavUL li {
  color: #DE3163; 
  font-weight: bold;
  display: inline-block;
  padding: 0em 1em; 
  font-size: 1em;
}

ol.footNavUL li  a {
  color: #DE3163; 
  margin: 2px; 
} 

.copy, .legal {  
  margin-left: 100px; 
  color: #DE3163; 
  font-weight: 700;
}

.copy, .legal a {
  text-transform: capitalize;
}

/* Sections */
.banner-area {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover; 
}

.about-area, .port-area, .service-area, .contact-area, .info-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}

.text-part {
    margin-top: -140px;
    width: 65%;
    height: 80%;
}

h1 {
  font-size: 23px;
  font-family: 'Abhaya Libre', serif;
  color: black;
}

p {
    font-size: 18px;
}

.about-area, .service-area {
    background: #E6E6FA; 
}
.port-area, .contact-area {
    background: #F0FFFF; 
    color: #fff;
} 

.info-area {
  background: #C9A9A6; 
}

/* Material */
.container-m, .box {
    width: 0;
    height: 0;
    
}
.container-m {
    border: 1px solid #ddd;
    position: fixed;
    left: 30px;
    bottom: 120px;
    transition: all 0.4s;
}

.container-m.open {
    transform: translateX(70px);
    transition: all 0.2s;
}

.box {
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s, box-shadow 0s ease 0.2s;
}

.box:before, .box:after {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.box:after {
  transform: translate(-50%, -50%);
}

.container-m.open .box {
    box-shadow: none;
    transition: all 0.4s, box-shadow 0s;
    transform: translate(-120px, calc(-120px - 110px));
    width: 300px;
    height: 300px;
    
}
.menu {
    width: 200px;
    height: 200px;
    background: #fff;
    position: absolute;
    transform-origin: center center;
    left: -9999px;
    right: -9999px;
    top: -9999px;
    bottom: -9999px;
    margin: auto;
    z-index: -1;
    border-radius: 2px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    background-color: #915F6D;
}

.container-m.open .menu {
    background-color: #fff;
    font-weight: bold;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.3s;
    line-height: 0.8em;
}

ul li { 
    opacity: 0.5;
    padding: 10px; 
    color: #666;
    transition: opacity 0.3s;
}

ul li:hover {
	opacity: 1;
}

.container-m.open ul {
    opacity: 1;
    transition: all 0.5s;
    transform: translateX(5px);
}

/* About */
.grid-container {
    color: black;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-column-gap: 20px 
 }

.phase {
  margin-top: 50px;
  inline-size: 380px; 
  overflow-wrap: break-word;
}

.flipper {
  margin-top: 80px;
  width: 200px;
  height: 300px;
  position: relative;
  perspective: 800px; 
  border-radius: 4px;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 6px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  cursor: pointer;
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 6px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 10px 'Abhaya Libre', serif;
  line-height: normal;
  color: #47525d;
  padding: 5px 5px 5px 5px;
}

.card .front {
  background-image: url('https://m.media-amazon.com/images/I/612RlBVVfLL._AC_UF1000,1000_QL80_.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

.card .back {
  transform: rotateY(180deg);
  background-color: #5F9EA0; 
  color: white; 
  text-align: center; 
  padding: 0px 10px 0px 10px; 
}

.card.flipped {
  transform: rotateY(180deg);
}

/* Support */  
.list-wrap {
  max-width: 350px;
  padding-left: 60px; 
}

.list {
  position: relative;
}

.list h2 {
  color: #C2B280; 
  font-size: 18px;
  letter-spacing: 1px; 
  margin-bottom: 10px;
  margin-top: 65px; 
  margin-left: 40px;
}

.list ol {
  position: relative; 
}

.list ol li {
  position: relative;
  left: 0;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid #AFE1AF; 
  transition: 0.5s;
  cursor: pointer;
}

.list ol li:hover {
  left: 10px;
}

.list ol li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
  color: #355E3B; 
}

.list ol li:hover span {
  color: white; 
}

.list ol li:before {
  content: "";
  position: absolute;
  width: 100%; 
  height: 100%;
  background: #AFE1AF; 
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

.list ol li:hover:before {
  transform: scaleX(1);
}

/* Resources */
.accord-container {
  width: 320px; 
  margin: 40px 0px 0px -30px; 
  padding: 20px 1px 0px 40px; 
  overflow: hidden; 
}

.accord-container h4 {
  margin-left: -40px; 
  color: #4682B4;
}

#acdtog h3 {
  color: #7393B3;  
  line-height: 1.8;;
}

.accordion-content ol {
  list-style-type: none;
}  

.accordion-content p {
  color: #6F8FAF; 
  font-weight: bold; 
  line-height: 0.3; 
}  

.accordion-content p a {
  color: #6F8FAF;
  font-family: 'Poppins';
  font-size: 12px; 
  margin-left: -35px;
}

.accordion-content p a:hover {
  color: white;  
}

@keyframes bounce-rotate {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(120deg);
  }
  60% {
    transform: rotate(80deg);
  }
  40% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes bounce-rotate-back {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.f-triangle {
  width: 7px;
  height: 7px;
  margin-right: 20px;
  fill: #09f;
  transition: .2s;
}

.accordion.js .accordion-content {
  display: none;
  margin-left: 28px; 
}

.accordion { 
  .accordion-toggle {
    cursor: pointer;
    &.open {
      .f-triangle {
        animation: bounce-rotate 1s forwards;
      }
    }
    &.closed {
      .f-triangle {
        animation: bounce-rotate-back .2s forwards;
      }
    }
  }
  .accordion-content {
    margin-left: 27px; 
  }
} 

#resources .phase {
  margin-left: -10px; 
}

/* Contacts */
.navlk {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em; 
  max-width: 350px;
  padding-left: 60px;
  margin-top: -10px; 
}

.navlk ol {
  margin-left: 0;
  padding-left: 0;
  width: 500px;
  list-style: none;
  position: relative;
  display: inline-table; 
}

.navlk ol ol {
  display: none;
}

.navlk ol li:hover > ol {
  display: block; 
}

.navlk ol li {
  float: left;
  width: 350px;
  text-align: left;
  border-bottom: 3px solid #2ecc71;   
}

.navlk ol li:hover {
  background-color: transparent;
}

.navlk ol li a {
  display: block; 
  padding: -15px -10px;
  color: #C2B280; 
  text-decoration: none;
}

.navlk ol ol {
  border-radius: 0px; 
  padding: 0;
  position: absolute; 
  top: 100%;
}

.navlk ol ol li {
  float: none;
  border-bottom: 2px solid #ECFFDC; 
  position: relative;
}

.navlk ol ol li a {
  padding: -15px -10px; 
  color: #355E3B;
  transition: all 0.10s ease-in-out; 
}	

.navlk ol ol li a:hover {
  background: #47d583;
  color: #fff; 
  opacity: 0.9; 
  padding: 3px 10px; 
}	

#down-triangle {
  float: right;
  width: 0; 
  height: 0;
  margin-top: 3px; 
  border-top: 10px solid #2ecc71;
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent; 
}

#conlibg {
  float: right; 
  margin-top: -410px !important; 
  margin-right: 30px !important; 
  width: 300px !important; 
  opacity: 0.8;
}

/* Dialogue */ 
.trip-grid { 
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: repeat(3, auto);
    justify-content:space-between;
}

.grid-item {
  margin-top: 30px;
}

.note-container {
   justify-self: center;
}

 .sticky-note {
   width: 200px;
   min-height: 200px;
   padding: 1em;
   font-size: 20px;
   letter-spacing: 2px;
   outline: none;
   position: relative;
   margin-top: 50px;
   margin-bottom: 10px;
   padding-top: 40px;
}

 .sticky-note::before {
   content: "";
   position: absolute;
   display: block;
}

 .sticky-note::after {
   content: "";
   position: absolute;
   bottom: 0;
   border-width: 12px 12px 12px 12px;
   border-style: solid;
}

 .sticky-note.sticky-note-one {
   background-color: #fae3e3;
   grid-area: sticker1;
   box-shadow: 9px 0px 10px -5px rgba(0, 0, 0, 0.42);
}

 .sticky-note.sticky-note-one::before {
   background-color: rgba(108, 212, 255, 0.6);
   width: 120px;
   height: 35px;
   left: 50%;
   top: -15px;
   transform: translateX(-50%) rotate(3deg);
}

 .sticky-note.sticky-note-one::after {
   left: 0;
   border-top-color: #51c0ef;
   border-right-color: #51c0ef;
   border-bottom-color: #E5E4E2;
   border-left-color: #E5E4E2; 
}

 .sticky-note.sticky-note-two {
   background-color: #6cd4ff;
   grid-area: sticker2;
   box-shadow: -9px 0px 10px -5px rgba(0, 0, 0, 0.42);
}

 .sticky-note.sticky-note-two::before {
   background-color: rgba(250, 227, 227, 0.8);
   height: 70px;
   width: 50px;
   left: 50%;
   top: -30px;
   transform: rotate(-3deg) translateX(-50%);
}

 .sticky-note.sticky-note-two::after {
   right: 0;
   border-top-color: #ddc6c3;
   border-left-color: #ddc6c3;
   border-bottom-color: #E5E4E2; 
   border-right-color: #E5E4E2;  
}

.btn-group { 
  display: grid;
  grid-column-gap: 150px;
  grid-template-columns: repeat(3, auto);
  justify-content:space-between;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  background-color: #222;
  padding: 15px 30px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  margin-top: 30px;  
}

.btn-l {
  margin-left: 45px; 
}
.btn-r {
  margin-right: 45px; 
}

.btn span {
  position: relative; 
  z-index: 1;
}

.gbp {
  color: #1F51FF; 
  width: 280px;
  margin-left: -35px;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 300%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/* Tooltip */ 
.con-tooltip {
  position: relative;
  background: #DAA06D;
  border-radius: 15px; 
  padding: 0 20px; 
  margin: 10px;
  display: inline-block; 
  transition: all 0.3s ease-in-out;
  cursor: default;
  margin-top: 10px; 
  width: 50px;
  text-align: center; 
}

#topz p {
  font-size: 16px !important; 
}

.tooltip {
  visibility: hidden;
  z-index: 1;
  opacity: .40;
  width: 100%;
  padding: 0px 20px;
  background: #986868; 
  color: white !important; 
  position: absolute;
  top:-140%;
  left: -25%;
  border-radius: 9px;
  font: 14px;
  transform: translateY(9px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}

#tippy a {
  font-size: 12px !important; 
  color: white; 
  overflow: hidden;
  white-space: nowrap;
  margin: auto !important;
}

#tippy p { 
  font-size: 14px !important;
}

.tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #333 transparent transparent transparent;
  position: absolute;
  left: 40%;
}

.con-tooltip:hover .tooltip{
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
  transition: .3s linear;
  animation: odsoky 1s ease-in-out infinite  alternate;
}

@keyframes odsoky {
  0%{
    transform: translateY(6px);	
  }
  100%{
    transform: translateY(1px);	
  }
}

.left:hover {
  transform: translateX(-6px); 
}
.top:hover {
  transform: translateY(-6px);  
}
.bottom:hover {
  transform: translateY(6px);
}
.right:hover {
  transform: translateX(6px)
}

.left .tooltip { 
  top:-20%; left:-170%; 
}

.left .tooltip::after {
  top:40%;
  left:90%;
  transform: rotate(-90deg);
}

.bottom .tooltip { 
  top:115%; 
  left:-20%; 
}

.bottom .tooltip::after {
  top:-17%;
  left:40%;
  transform: rotate(180deg);
}

.right .tooltip { 
  top:-20%; left:115%; 
}

.right .tooltip::after {
  top:40%;
  left:-12%;
  transform: rotate(90deg);
}
